<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="theme.css">
</head>
<body>

    <div class="container" id="app">
        <div class="card">
            <h1>{{ title }}</h1>
            <div class="form-control">
                <input type="text"
                :placeholder="placeholderString" 
                :value="inputValue"
                @input="inputChangeHandler"
                @keypress.enter="addTodo"
                >
            </div>
            <button class="btn" @click="addTodo">Add</button>
            <hr>
            <ul class="list" v-if="todos.length !== 0">
                <li class="list-item" v-for="(todo,index) in todos">
                    {{index}} : {{ todo }}
                    <button class="btn danger" @click="deleteTodo(index,$event)">delete</button>
                </li>
            </ul>
            <div v-else>
                There are no todos yet, please add some.
            </div>
            <div>
                Total {{ todos.length }} | Doubled {{ doubledTodos }}
            </div>
        </div>
    </div>

<script src="https://unpkg.com/vue@next"></script>
<script src="app.js"></script>
</body>
</html>